* text=auto eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.mid binary
*.wav binary
*.mp3 binary
*.ogg binary
*.sf2 binary
*.png binary
*.jpg binary
